#dashboard-content {
  left: 200px;
  position: relative;
}

.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}

@media (max-width: 768px) {
  #dashboard-content {
    left: 0px;
  }
}