<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HikeHotMetal</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin/dashboard">Für Vermieter</a></li>
                <li class="dropdown">
                    <a href="/admin/dashboard" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Telefon Support <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">+49 111 111 111 11</a></li>
                        <li><a href="/">+91 11111 11111</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a ui-sref="parent.admin.dashboard" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin">DE</a></li>
                        <li><a href="/admin">EN</a></li>
                    </ul>
                </li>
                <li><a href="/admin">Login</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->