<div ng-controller="CitySearchCtrl">
    <form class="form-inline searchform" role="form">
        <div class="form-group">
            <label class="sr-only" for="place">Stadt</label>
            <input class="form-control"
                            id="place"
                            name="place"
                            g-places-autocomplete
                            ng-model="city_search.place"
                            placeholder="In welcher Stadt suchen Sie?"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{city_search.format}}"
                            ng-model="city_search.dt"
                            is-open="city_search.popup1.opened"
                            datepicker-options="city_search.dateOptions"
                            ng-required="true"
                            close-text="Close"
                            alt-input-formats="city_search.altInputFormats"
                            ng-click="city_search.open1()"
                            placeholder="Einzugsdatum"/>
        </div>
        <button type="submit" class="btn btn-success">Jetzt Apartment finden</button>

    </form>
</div>