@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "fonts";
@icon-font-path:  "fonts/";
@icon-font-name:  "glyphicons-halflings-regular";
@icon-font-svg-id:  "glyphicons_halflingsregular";

/* Component LESS */
@import "search/search.less";
@import "admin/admin.less";
@import "sidebar/sidebar.less";
@import "page/page.less";
@import "auth/auth.less";
@import "post/post.less";
@import "shared/shared.less";
@import "home/home.less";
@import "widget/widget.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  margin: 0px;
}

form {
  position: relative;
}

.navbar {
  margin-bottom: 20px;
}

.intro1 {
    position: relative;
    padding: 40px 0 80px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 0;
    //margin-top: -40px;
}

.intro1 h1 {
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 500;
  margin: 60px 0;
}

.intro2 h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.2em;
}

.intro2 h2:after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 3px;
  background: #2c577d;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.intro3 {
  margin-bottom: 35px;
}

.intro3 p {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.5
}

.searchform input {
  font-size: 18px;
}


/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}