<div id="dashboard-content" ng-controller="WidgetListCtrl">
   <div style="width:100%;">
        <div class="col-md-12 col-sm-12">
            <div class="well well-sm">
                <div class="row" style="height: 100%">
                    <div class="col-md-6 col-sm-6">
                        <p class="lead">Widgets</p>
                        <p><b>Available Widgets</b></p>
                        <p>To activate a widget drag it to a sidebar or click on it. To deactivate a widget and delete its settings, drag it back.</p>
                    </div>
                </div>
                <div class="row" style="height: 100%">
                    <div class="col-md-3 col-sm-3">
                        <p class="lead">Widgets</p>
                        <p><b>Available Widgets</b></p>
                        <p>To activate a widget drag it to a sidebar or click on it. To deactivate a widget and delete its settings, drag it back.</p>
                    </div>
                </div>
                <div class="row" style="height: 100%">
                    <div class="col-md-3 col-sm-3">
                        <p class="lead">Widgets</p>
                        <p><b>Available Widgets</b></p>
                        <p>To activate a widget drag it to a sidebar or click on it. To deactivate a widget and delete its settings, drag it back.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>