<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a id="menu-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="home.xhtml">
                Admin
            </a>
        </div>
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <ul class="sidebar-nav">
                <li>
                    <a href="/admin/pages" id="page-menu-pages" data-toggle="collapse" data-target="#page-submenu-pages" aria-expanded="false">Pages</a>
                    <ul class="collapse" id="page-submenu-pages" role="menu" aria-labelledby="page-menu-pages" style="list-style-type: none; padding-left: 20px;">
                        <li><a href="/admin/pages/list">All Pages</a></li>
                        <li><a href="/admin/pages/new">Add New</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/pages/appearance" id="page-menu-appe" data-toggle="collapse" data-target="#page-submenu-appe" aria-expanded="false">Appearance</a>
                    <ul class="collapse" id="page-submenu-appe" role="menu" aria-labelledby="page-menu-appe" style="list-style-type: none; padding-left: 20px;">
                        <li><a href="/admin/pages/appearance/widgets">Widgets</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin">Item 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>