<div class="col-sm-6 col-sm-offset-3" ng-controller="UserController">
    <div class="well">
        <h3>Users</h3>
        <button class="btn btn-primary" style="margin-bottom: 10px" ng-click="getUsers()">Get Users!</button>
        <ul class="list-group" ng-if="users">
            <li class="list-group-item" ng-repeat="user in users track by $index">
                <h4>{{user.name}}</h4>
                <h5>{{user.email}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="error">
            <strong>There was an error: </strong> {{error.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>