<div ng-controller="HomeIncludeCtrl">

    <div class="intro1">
        <h1>Möblierte Business Wohnungen online buchen
            <br>in Zürich</h1>

        <div ng-include="'search/partial/city-search/city-search.html'"></div>
    </div>
    <div class="intro2">
        <h2>Finden Sie Ihr zweites Zuhause</h2>
    </div>
    <div class="intro3">
        <p>Mehr Komfort, mehr Platz, mehr Flexibilität und sogar günstiger als ein Hotel: Buchen Sie in nur wenigen Augenblicken Ihr Zuhause auf Zeit – zum Wohnen, Arbeiten und Wohlfühlen.</p>
    </div>
</div>
