#dashboard-content {
  left: 200px;
  width: 1120px;
  position: relative;
}

.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
  padding-bottom: 24px; }
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

h4 {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  #dashboard-content {
    left: 0px;
    width: 678px;
  }
}