<div id="dashboard-content" ng-controller="AddPageCtrl">
    <div style="width:100%;">
        <div class="col-md-12 col-sm-12">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="form-group">
                                <label for="newPage">
                                    Add New Page</label>
                                <input type="text" class="form-control" ng-model="add_page.page_title" id="newPage" placeholder="Enter title here" required="required" />
                            </div>
                            <text-angular ng-model="add_page.page_content"></text-angular>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <h4>Publish</h4>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" class="btn btn-primary" ng-click="test()">Publish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>