<div id="dashboard-content" ng-controller="PageListCtrl">
    <div class="container" style="width:100%;">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="well well-sm">
                    <form>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="newPage">
                                        Add New Page</label>
                                    <input type="text" class="form-control" id="newPage" placeholder="Enter title here" required="required" />
                                </div>
                            </div>
                            <text-angular ng-model="newPage.pageContent"></text-angular>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>